@keyframes draw {
  to {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}

@keyframes fill-in {
  to {
    fill-opacity: 1;
  }
}

@keyframes imageMove {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
