@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap");

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url(/src/assets/fonts/Hurme/HurmeGeometricSans3.otf);
}
body {
  font-family: "Hurme Geometric Sans", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
}

@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
}
